body {
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
}
.two-inputs {
    display: flex;
    flex-direction: column;
    width: 20vh;
}
select {
    width: 20vh;
    margin-top: 4vh;
    margin-bottom: 4vh;
}
.data-output {
    padding: 4vh;
    overflow-y: scroll;
    height: 80vh;
}
header {
    text-align: center;
    font-style: oblique;
    background-color: darkcyan;
    color: whitesmoke;
}
.paragraph-data {
    color: darkcyan;
}
.details-list {
    margin: 2vw;
}
li {
    list-style-type: none;
}
.p-input-text {
    margin-top: 1vh;
    margin-bottom: 3vh;
}
.weather-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}